<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
      <div class="card horizontal" appBorderCard (click)="goToPokemon(pokemon)">
        <div class="card-image">
          <img [src]="pokemon.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content" style="height: 180px">
            <p>{{ pokemon.name }}</p>
            <p>{{ pokemon.cp }}</p>
            <p>{{ pokemon.hp }}</p>
            <p>
              <small>Date : {{ pokemon.created | date : "dd/MM/yyyy" }} </small>
            </p>
            <span
              *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
